.full-list{

    /* margin-top:110px; */
    width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  align-content: space-evenly;

    }
    
    
    .car-list{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    width: 23em;
    }
    
    
    
    h1{
        color:#204F90;
        font-size:20px;
    }