.home-container{
    /* height: 100vh;
    width: 100vw;
    position: absolute; */
    width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.home-map{
    width: 24.5em;
    /* height: 30em; */
}

.home-return{
    display: flex;
    position: absolute;
    margin-left: 18em;
    bottom: 16em;
    border: none;
    background-color: transparent;
    z-index: 2;
}

.home-user{
    width: 22em;
    z-index: 2;
    display: flex;
}

.home-driver{
    display: grid;
    /* position: absolute; */
    margin-top: 0.8em;
}

.home-gradient-bar{
    width: 24.5em;
    position: absolute;
    bottom: 12.5em;
    z-index: 1;
}

.home-name-stars{
    width: 16em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1em;
    margin-top: 0.7em;
}

.home-name{
    color: white;
    font-size: large;
    margin-bottom: 0%;
}

.timer {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.home-car{
    display: flex;
    margin-left: 0.5em;
    float: left;
}