.full-data{
  display:grid;
  background-color: white;
  padding: 35px;
  grid-template-columns: 50% 50%;
  border-radius: 24px;
}


 

  .available-modal{
   background-color: white;
  }

  /* Fonts */

  .driver{
    text-align: center;
    
  }

  .title-modal{
    margin-top:30px;
    font-size:12px;
 
    
    }
    
  .license-modal{
    font-size:20px;
    font-weight:600;
    margin-top:40px;}

  .brand-modal{
    font-size:12px;
    font-weight:500;
    margin-top:-15px;
  }
  .year-modal{
    font-size:12px;
    margin-top:-15px;
  }

.join{
  padding-top:100px;
  padding-left: 6px;

}

.close-modal{
  margin-right:-140px;
  margin-top:-40px;
}

