.profile-group {
  width: 100vw;
  position: absolute;
  top: 11%;
  text-align: center;
}

.profile-icon {
  width: 10%;
}

.profile-h1 {
  font-size: large;
}

.profile-tabs {
  display: block;
  padding: 2% 7%;
}

.profile-personal,
.profile-contacts,
.profile-trips {
  display: flex;
  flex-direction: column;
  border: solid 2px rgb(213, 213, 213);
  padding: 3% 9%;
}

.profile-label {
  align-self: flex-start;
  color: rgb(126, 126, 126);
}

.profile-input {
  border: none;
  border-bottom: solid 1px rgb(171, 171, 171);
  margin-bottom: 3%;
}

.profile-tab {
  background-color: red;
  color: #635E5E;
}

.select-group {
  align-self: flex-start;
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.profile-h3{
  font-size: medium;
  align-self: flex-start;
  color: rgb(126, 126, 126);
}

.profile-tip-box{
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px gray;
  margin-bottom: 5%;
}

.profile-destination{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profile-back{
  position: fixed;
  width: 12%;
  left: 14px;
  z-index: 10;
  top: 9vh;
}

.profile-ul{
  align-self: flex-start;
  list-style-type: circle;
}
.profile-li{
  display: flex;
  list-style-type: circle;
}
.profile-btn{
  background-color: #C525A2;
  color: white;
  border: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
  font-size: large;
}