.profile-group {
  position: absolute;
  top: 4em;
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.profile-icon {
  width: 2em;
  z-index: 1;
}

.profile-h1 {
  font-size: large;
  margin-bottom: 1em;

}


.profile-tabs {
  display: block;
  /* padding: 2% 7%; */
  width: 22em;
}

.profile-personal,
.profile-contacts,
.profile-trips {
  display: flex;
  flex-direction: column;
  border: solid 2px rgb(213, 213, 213);
  padding: 3% 9%;
}

.profile-label {
  align-self: flex-start;
  color: rgb(126, 126, 126);
}

.profile-input {
  border: none;
  border-bottom: solid 1px rgb(171, 171, 171);
  margin-bottom: 3%;
}

.profile-tab {
  background-color: red;
  color: #635E5E;
}

.select-group {
  align-self: flex-start;
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.profile-h3{
  font-size: medium;
  align-self: flex-start;
  color: rgb(126, 126, 126);
}

.profile-tip-box{
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px gray;
  margin-bottom: 5%;
}

.profile-destination{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profile-back{
  position: fixed;
  width: 12%;
  left: 14px;
  z-index: 10;
  top: 8vh;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}

.profile-ul{
  display: flex;
  flex-direction: column;
}
.profile-li{
  align-self: flex-start;
}
.profile-btn{
  width: 25px;
  height: 25px;
  text-align: center;
  font-size: large;
}