.ranking-group {
  width: 100vw;
  position: absolute;
  top: 11%;
  text-align: center;
}

.ranking-icon {
  width: 10%;
}

.chart-icon {
  width: 68%;
}

.ranking-h1{
  font-size: large;
}

.ranking-h2{
  font-size: medium;
  color: gray;
  align-self: flex-start;
  margin-left: 10%;
  font-weight: bolder;
}

.ranking-back{
  position: fixed;
  width: 12%;
  left: 14px;
  z-index: 10;
  top: 9vh;
}

.background {
  background-color: white;
  border: solid 4px rgb(193, 193, 193) !important;
  width: 90%;
  margin-bottom: 9%;
}

.yellow {
  border: solid 3px rgb(193, 193, 193);
}

.ranking-info{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ranking-table{
  display: grid;
  grid-template-columns: 50% 15% 20% 15%;
  align-items: center;
  max-height: 100%;
  padding: 1%
}
