.routeHi{
    margin-top: 10%;
    text-align: left;
    line-height: 0%;
    
}

.imgprofile{
  margin-top: -1.5em;
  margin-left: 1em;
  float: left;

}


.containerDirection{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10%;
    width: 100%;

} 

 .form-select{
    float: right;
    margin-top: 1%;
    border: solid palevioletred;
    width: 10em;
    margin-top: 5%;
}

.route-icons {
    width: 92%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    margin: 0 5%;
    z-index: 10;
    top: 2%;
  }
  
  .routeLogo{
    height: 40px;
  }

  .routeExit{
    height: 30px;
  }