.start-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    /* margin-top: 2em;
    height: auto;
    width: 100%;
    z-index: 1; */
}

.startBar{
    width: 24.5em;
    z-index: 1;
}

.start-map{
    width: 24.5em;
}

.StartFooter{
    bottom: 10%;
    /* position: fixed; */
}

.star-timer {
    margin-top: 2em;
    margin-bottom: 1.3em;
}
    
.starCar{
    display: flex;
    margin-left: 7em;
    float: left;
}