/* .footer-group .header-group {
  width: 100vw;
  height: 100vh; */
  /* width: 22em;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center; */
/* } */

/* .gradient {
  width: 100vw;
  height: 18vh;
  position: fixed;
  z-index: 1;
}

.footer {
  bottom: 0;
  left: -1px;
  bottom: -1px;
}

.header {
  width: 105vw;
  top: -1px;
  left: -1px;
}*/

.footer-group, .header-group{
  display: flex;
  justify-content: center;
}

.footer-icon {
  width: 2em;
} 

.footer-icons {
  width: 22em;
  margin-left: 0.5%;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  position: fixed;
  bottom: 1%;
}

.header-icons {
  width: 23.4em;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 1%;
} 

.header-icon{
  /* position: absolute; */
  width: auto;
  height: 2em;
  margin-left: 0.5em;
  /* left: 538px;
  top: 187px; */
  }

.header-logout{
  height: 1.3em;
  position: absolute;
  width: auto;
  left: 92%;
  top: 2px;
} 

.header-up{
  width: 24.5em; 
  position: absolute;
  top: 0;
}

.footer-down{
  width: 24.5em; 
  position: absolute;
  bottom: 0%;
}

