.footer-group .header-group {
  width: 100vw;
  height: 100vh;
}

.gradient {
  width: 100vw;
  height: 18vh;
  position: fixed;
  z-index: 1;
}

.footer {
  position: absolute;
  width: 410px;
  height: 104px;
  left: -5px;
  top: 700px;
  z-index: -1;
}

.header {
  position: absolute;
  width: 410px;
  height: 125px;
  left: -5px;
  top: -3px;
  z-index: -1;
}

.footer-icon {
  width: 9%;
}

.footer-icons {
  width: 89%;
  margin-left: 6%;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  position: absolute;
  left: -3px;
  top: 760px;
}

.header-icons {
  width: 92%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  margin: 0 5%;
  z-index: 10;
  top: 2%;
}

.header-icon {
  position: absolute;
  width: 58px;
  height: 40px;
  left: -200px;
  top: -2px;
}

.header-logout {
  position: absolute;
  width: 25px;
  height: 25px;
  left: 135px;
  top: 4px;
}