body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
/* AQUI ESTAN LAS FUENTES */

@font-face {
  font-family: calibriBold;
  src: url('./fonts/calibribold.ttf');
}

@font-face {
  font-family: calibriRegular;
  src: url('./fonts/calibri.ttf');
}

@font-face {
  font-family: calibriLight;
  src: url('./fonts/calibrilight.ttf');
}

@font-face {
  font-family: houschkaDemibold;
  src: url('./fonts/HouschkaRoundedDemiBold.ttf');
}

@font-face {
  font-family: houschkaMedium;
  src: url('./fonts/HouschkaRoundedAltMedium.ttf');
}

@font-face {
  font-family: houschkaLight;
  src: url('./fonts/HouschkaRoundedAltLight.ttf');
}

/* AQUI ESTA LOGIN */
.logo {
  width: 24em;
  height: 7em;
  /* border: 1px solid blue; */
}

.container-login {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  align-content: space-evenly;
}

.form-login {
  display: grid;
  grid-template-columns: 1fr;
  width: 20em;
  height: 18em;
}

.sign-in {
  border-radius: 1.5em;
  background: rgba(236, 30, 133, 1);
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
  outline: none;
  border: none;
}

.inputs {
  /* border: 0; */
  border-top: 1em;
  border-left: 1em;
  border-right: 1em;
  width: 17em;
  padding-top: 2em;
  margin-left: 1em;
}

.forgot-password {
  text-decoration: none;
  color: rgba(128, 118, 118, 1);
}

/* .comments-accordion {
  width: 20em;
  overflow-y: scroll;
} */

.comments-faces {
  border-radius: 50%;
  border: none;
}

.comments-secondary {
  width: 100%;
  height: 80%;
}

.comments-container {
  max-height: 80%;
  height: 80%;
  overflow-y: scroll;
}

.comments-button {
  position: absolute;
  width: 128px;
  left: 94px;
  top: 395px;
  background: #4E98C0;
  border-radius: 10px;
  overflow-y: scroll;
  border: none;
  color: #FFFFFF;
  z-index: -1;
}

/* AQUI ESTA EL BOTON DE EMERGENCIA */
.buttonPrincipal-emergency {
  position: absolute;
  width: 79px;
  height: 98px;
  left: 250px;
  top: 200px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  border: none;
}

.buttonPrincipal-emergency p{
margin-top: 3px;
font-family: houschkaDemibold, sans-serif;
font-size: 22px;
color: #ff0202;
}

.btnSos{
  border: none;
}
.btnSos:focus{
  border: none;
}
.btnSos:hover{
  border: none;
}
/* .emergency-modal{
  display: flex;  
} */

.emergency-types {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}

.types {
  width: 4em;
  height: 4em;
}

/* AQUI ESTAN LOS COMMENTS */
.comments-title {
  position: absolute;
  left: 87px;
  top: 98px;
  font-family: houschkaDemibold, sans-serif;
  font-size: 25px;
  color: #204F90;
}

.comments-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 313px;
  height: 460px;
  left: 33px;
  top: 141px;
  border: 1px solid #D9D9D9;
  border-radius: 20px;
}

.commentsOne {
  position: absolute;
  left: 20px;
  top: 15px;
  font-family: calibriBold, sans-serif;
  font-size: 17px;
  color: #000000;
}

.commentStar {
  display: flex;
  position: absolute;
  gap: 7px;
  left: 43px;
  top: 40px;
}

.commentsTwo {
  position: absolute;
  left: 55px;
  top: 100px;
  font-family: calibriBold, sans-serif;
  font-size: 17px;
  color: #000000;
}

.comments-description {
  position: absolute;
  width: 247px;
  height: 33px;
  left: 31px;
  top: 130px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 10px;
  border: none;
}

.commentsThree {
  position: absolute;
  left: 60px;
  top: 180px;
  font-family: calibriBold, sans-serif;
  font-size: 17px;
  color: #000000;
}

.comments-accordion {
  position: absolute;
  width: 270px;
  height: 437px;
  left: 20px;
  top: 215px;
}


/* AQUI ESTAN LOS ESTILOS DE LA VISTA DE RECONOCIMIENTOS A PASAJEROS */

.photo-passenger,
.photo-driver {

  position: absolute;
  width: 90px;
  height: 90px;
  left: 21px;
  top: 60px;
}

.passenger-name,
.driver-name {
  position: absolute;
  left: 122px;
  top: 75px;
  font-size: 20px;
  font-family: houschkaDemibold, sans-serif;
  color: #5B6063;
}

.passenger-type,
.driver-type {
  position: absolute;
  left: 122px;
  top: 95px;
  font-family: houschkaMedium, sans-serif;
  font-size: 18px;
  color: #5B6063;
}

.passenger-stars,
.driver-stars {
  position: absolute;
  left: 122px;
  top: 115px;
  font-size: 23px;
}

.passengerText-container,
.driverText-container {
  position: absolute;
  width: 313px;
  height: 404px;
  left: 37px;
  top: 171px;
  border: 1px solid #D9D9D9;
  border-radius: 20px;
  padding: 15px;
}

.title-recognition {
  left: 91px;
  top: 20px;
  font-family: calibriBold, sans-serif;
  font-size: 25px;
  color: #5B6063;
}

.comment {
  display: flex;
  color: #5B6063;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.comment p {
  margin: 0;
  font-family: calibriRegular, sans-serif;
  font-size: 19px;
  color: #5B6063;
}