body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.logo{
  width: 24em;
  height: 7em;
  /* border: 1px solid blue; */
}

.container-login{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  align-content: space-evenly;
}

.form-login{
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: 1fr;
  width: 20em;
  height: 18em;
}

.sign-in{
  border-radius: 1.5em;
  background: rgba(236, 30, 133, 1);
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
  outline: none;
  border: none;
}

.inputs{
  /* border: 0; */
  border-top: 1em;
  border-left: 1em;
  border-right: 1em;
  width: 17em;
  padding-top: 2em;
  margin-left: 1em;
}

.forgot-password{
  text-decoration: none;
  color: rgba(128, 118, 118, 1);
}

.comments-accordion{
  width: 20em;
}

.comments-faces{
  border-radius: 50%;
  border: none;
}

.comments-principal{
  display: flex;
  justify-content: center;
}

.comments-button{
  background: rgba(78, 152, 192, 1);
  border-radius: 10px;
  border: none;
  width: 12em;
  margin-top: 1.5em;
}

.buttonPrincipal-emergency{
  background: white;
}

/* .emergency-modal{
  display: flex;  
} */

.emergency-types{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}

.types{
  width: 4em;
  height: 4em;
}

